* {
    text-align: center;
}

h1 {
    color: rgb(233, 156, 195);
}

nav {
    background-color: rgb(255, 240, 245);
    text-align: right;
    font-size: 30px;
}

section {
    padding: 80px 20px;
}

footer {
    width: 100%;
    height: 190px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-image: url(ghibliflower.jpg);
}

nav a {
    color: rgb(161, 128, 192);
    font-weight: bold;
}

nav a:hover {
    color: rgb(219, 144, 157);
}